.main {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 15px;
  border: 0px solid #000;
  border-radius: 25px;
  font-family: "Work Sans", sans-serif;
  color: aliceblue;
  text-shadow: 4px 4px 4px rgb(0 0 0 / 15%);
  backdrop-filter: blur(20px);
  background: rgba(49, 143, 198, 0.15);
  box-shadow: 4px 4px 15px rgb(0 0 0 / 10%);
}
.search-box {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 30px;
  border: 0px solid #000;
  border-radius: 25px;
  font-family: "Work Sans", sans-serif;
  color: aliceblue;
}
.wrapper {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 30px;
  border: 0px solid #000;
  border-radius: 25px;
  font-family: "Work Sans", sans-serif;
  color: aliceblue;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
ul {
  margin-left: 20px;
  list-style-type: none;
  padding: 0px;
}
li {
  display: block;
}
li::first-letter {
  text-transform: capitalize;
}
h1 {
  font-size: 3rem;
  padding: 0px;
  margin: 0px;
  margin-left: 20px;
}
a {
  color: rgb(138, 196, 247);
  text-decoration: none;
}
a:hover {
  color: aliceblue;
}
.button {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  border-radius: 20px;
  border: none;
  color: aliceblue;
  background-color: rgba(49, 143, 198);
}

.button:hover {
  box-shadow: 0px 0px 10px rgb(242, 243, 245);
  transition: 500ms ease-in-out;
}
.form {
  border-radius: 20px;
}
.temprature {
  margin: 0px;
  padding: 0px;
  margin-left: 20px;
}
.index-temperature {
  font-size: 4rem;
  margin: 0px;
  padding: 0px;
}
.unit-temperature {
  font-size: 1.2rem;
  position: relative;
  top: -25px;
}
.wrap-1 {
  margin-top: 10px;
}
.main-icon {
  margin-top: 20px;
  max-width: 100px;
}

.notActive {
  cursor: default;
  color: aliceblue;
}

.notActive:hover {
  color: aliceblue;
}

.github-link {
  color: blue;
  text-decoration: none;
}

.github-link:hover {
  color: blue;
  text-decoration: underline;
}
.forecast-time {
  margin-top: 5px;
  text-align: center;
}
.forecast-icon {
  display: block;
  margin: 0 auto;
  width: 40px;
}
.forecast-temperature {
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
}
